@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: "poppins", sans-serif;

}

.container {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}

.container header {
    text-align: center;
    margin-bottom: 20px;

}

header h1 {
    font-size: 36px;
    font-weight: 600px;
    color: #333;
}

.content {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    margin-right: 10px;

}

.input-group .placeholder {
    border-color: red;
    margin-top: 5px;
    width: 250px;
    height: 125px;

}

.placeholder img {
    height: 100%;
    width: 100%;

}

label {
    color: #333;
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 5px;

}

textarea,
select {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

button {
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    background-color: #393939;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}

button:hover {
    background-color: #393e46cd;


}